form{
    text-align: center;
    border-radius: 30px;
}
table, td{
    border-collapse: collapse;
    width: 30%;
    padding: 1%;
    border-radius: 30px;
    background-color: lightgray;
}
input[type=text],[type=date],[type=email],[type=file]{
    border: 1px solid gray;
    border-radius: 4px;
    padding: 1%;
}
label[type=radio]:hover, label[type=radio]:focus{
    background-color: lightcyan;
    font-size: 20pt;
    width: 40px;
    height: 20px;
}