table{
    border: 3px solid black;
    width: 30%;
    height: 100px;
    text-align: center;
}
table#lihtne{
    border: 1px solid black;
    width: 30%;
    height: 100px;
    text-align: center;
}
table#keeruline1{
    border: 5px solid black;
    width: 15%;
    height: 80px;
    text-align: center;
    border-collapse: collapse;
}
table#keeruline1 td{
    border: 2px solid black;
    width: 30%;
    height: 100px;
    text-align: center;
    vertical-align: top;
    background-color: lightblue;
}
table#iseseisev td{
    border: 2px solid black;
    width: 120px;
    height: 100px;
    text-align: center;
    vertical-align: top;
    background-color: lightblue;
}
td{
    border: 1px solid black;
}
.nimiA{
    background-color: lightseagreen;
}
table#iseseisevtabel{
    border: 1px solid black;
    width: 600px;
    height: 350px;
}
#iseseisevtabel tr:nth-child(3) td:nth-child(4){
    width: 20px;
}
.nimi1{
    background-color: lightseagreen;
}
.nimi2{
    background-color: yellow;
}
.nimi3{
    background-color: burlywood;
}
.nimi4{
    background-color: cornflowerblue;
}
.nimi5{
    background-color: firebrick;
}
.nimi6{
    background-color: yellowgreen;
}
.nimi7{
    background-color: orchid;
}
.nimi8{
    background-color: lemonchiffon;
}
.nimi9{
    background-color: palevioletred;
}
.nimi10{
    background-color: powderblue;
}
.nimiplus1{
    background-color: cornflowerblue;
}
.nimiplus2{
    background-color: chocolate;
}