table{
    border: 3px solid black;
    width: 30%;
    height: 100px;
    text-align: center;
}
table#lihtne{
    border: 1px solid black;
    width: 30%;
    height: 100px;
    text-align: center;
}
table#keeruline1{
    border: 5px solid black;
    width: 15%;
    height: 80px;
    text-align: center;
    border-collapse: collapse;
}
table#keeruline1 td{
    border: 2px solid black;
    width: 30%;
    height: 100px;
    text-align: center;
    vertical-align: top;
    background-color: lightblue;
}
table#iseseisev td{
    border: 2px solid black;
    width: 120px;
    height: 100px;
    text-align: center;
    vertical-align: top;
    background-color: lightblue;
}
td{
    border: 1px solid black;
}
.nimiA{
    background-color: lightseagreen;
}
table#iseseisevtabel{
    border: 1px solid black;
    width: 650px;
    height: 550px;
}
#iseseisevtabel tr:nth-child(2) td:nth-child(1){
    width: 100px;
    background-color: yellow;
}
#iseseisevtabel tr:nth-child(1) td:nth-child(1){
    background-color: red;
}
#iseseisevtabel tr:nth-child(2) td:nth-child(2){
    background-color: lightseagreen;
}
#iseseisevtabel tr:nth-child(2) td:nth-child(3){
    background-color: lightsalmon;
}
#iseseisevtabel tr:nth-child(3) td:nth-child(1){
    background-color: green;
}
#iseseisevtabel tr:nth-child(3) td:nth-child(2){
    background-color: blue;
}
#iseseisevtabel tr:nth-child(3) td:nth-child(3){
    background-color: lightpink;
}
#iseseisevtabel tr:nth-child(3) td:nth-child(4){
    background-color: saddlebrown;
}
#iseseisevtabel tr:nth-child(4) td:nth-child(1){
    background-color: rebeccapurple;
}
#iseseisevtabel tr:nth-child(5) td:nth-child(1){
    background-color: goldenrod;
}
#iseseisevtabel tr:nth-child(5) td:nth-child(2){
    background-color: darkolivegreen;
}
#iseseisevtabel tr:nth-child(5) td:nth-child(3){
    background-color: aqua;
}